{% extends 'base.html' %}

{% block content %}
<h1>Ratopticon - RaspPi Video Recorder 4</h1>

<div class="row justify-content-center">
    <div class="col-6">
        <!-- <video id="video" autoplay playsinline controls></video> -->
        <img id="preview" src="{{ url_for('static', filename='img/preview.jpg') }}" style="object-fit: cover;" />
    </div>

    
</div>

<div class="row justify-content-md-center"><div class="col-xs-12" style="height:16px;"></div></div>

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <button id="start" {% if state['isRecording'] %} disabled {% endif %} class="btn btn-primary">Start Recording</button>
        <button id="stop" {% if not state['isRecording'] %} disabled {% endif %} class="btn btn-primary">Stop Recording</button>
        <span>&nbsp;</span>
        <button id="start_preview" disabled class="btn btn-primary">Start Preview</button>
        <button id="stop_preview" disabled class="btn btn-primary">Stop Preview</button>
        <p></p>
        <div id="recording-indicator" style="display: none;">
            <div id="recording-indicator-text" class="recording-indicator-class">Recording...</div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <div id="recording-indicator" style="display: none;">
            <div id="recording-indicator-text" class="recording-indicator-class">Recording...</div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center"><div class="col-xs-12" style="height:16px;"></div></div>

<div class="row justify-content-center">
    <div class="col-4">
        <h2>Recorded Videos:</h2>
        <ul id="recordings" class="list-group">

        </ul>
    </div>
    <div class="col-6">
        <form id="settingsForm" action="/settings" method="POST">
            <table class="table" >
                <thead>
                    <tr>
                    <th scope="col">Option</th>
                    <th scope="col">Wert</th>
                    </tr>
                </thead>
                <tbody id="settings">
                    <tr><td>contrast</td><td><input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" value="1.4"></td>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Konfiguration absenden</button>
        </form>
        <br/>
        <a href="https://www.raspberrypi.com/documentation/computers/camera_software.html#camera-control-options" target="_blank">Dokumentation Video-Parameter</a>
    </div>
</div>

{% import 'forms.html' as forms %}

<script>
    const video = document.getElementById('video');
    let pollingIntervallId = null;

    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('settingsForm');
        form.addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission

            const formData = new FormData(form);
            fetch('/settings', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // or .text() if the response is text
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                updateSettings(data);
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        });
    });

    $('#start').click(function() {
        $('#start').prop('disabled', true);
        if (pollingIntervallId != null) {
            clearInterval(pollingIntervallId);
            pollingIntervallId = null; 
        }
        fetch("/start_recording", { method: 'POST' })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok: "+response.status+" "+response.statusText);
                }
                return response.json(); // This parses the JSON body of the response
            })
            .then(data => updateState(data))
            .catch(error => {
                $('#start').prop('disabled', false);
                console.error("There was a problem with your fetch operation:", error);
            });
    });

    $('#stop').click(function() {
        $('#stop').prop('disabled', true);
        fetch("/stop_recording", { method: 'POST' })
            .then(response => {
                if (!response.ok) {
                    throw new Error("/stop_recording Network response was not ok: "+response.status+" "+response.statusText);
                }
                return response.json();
            })
            .then(data => updateState(data))
            .catch(error => {
                $('#stop').prop('disabled', false);
                console.error("There was a problem with your fetch operation:", error);
            });
    });

    $('#start_preview').click(function() {
        $('#start_preview').prop('disabled', true);
        pollingIntervallId = setInterval(updatePreview, 500);
    });

    $('#stop_preview').click(function() {
        $('#stop_preview').prop('disabled', true);
        if (pollingIntervallId != null) {
            clearInterval(pollingIntervallId);
            pollingIntervallId = null; 
        }
    });
    
    // Function to check if recording is ongoing
    async function fetchState() {
        try {
            const response = await fetch('/update_state');
            if (!response.ok) { throw new Error("Network response was not ok"); }
            // console.log(response);
            updateState(await response.json());
        } catch (error) {
            console.error("There was a problem with your update_state fetch operation:", error);
        }
    }

    // Check recording status every second
    fetchState();
    setInterval(fetchState, 1000);

    async function updatePreview() {
        const response = await fetch('/preview_update');
        if (!response.ok) {
            throw new Error("Network response was not ok: "+response.status+" "+response.statusText);
        }
        $('#preview').attr('src', '/static/img/preview.jpg?' + Date.now());
        if (pollingIntervallId != null) {
            $('#stop_preview').prop('disabled', false);
            $('#start_preview').prop('disabled', true);
        } else {
            $('#stop_preview').prop('disabled', true);
            $('#start_preview').prop('disabled', false);
        }
    }

    // Check recording status every second
    updatePreview();

    async function fetchSettings() {
        const response = await fetch('/settings');
        if (!response.ok) {
            throw new Error("Network response was not ok: "+response.status+" "+response.statusText);
        }

        settings = await response.json();
        updateSettings(settings);
    }
    fetchSettings();

    function updateSettings(settings) {
        // Assuming state.videoSettings is a JSON object
        $('#settings').empty(); // Clear previous settings
        Object.entries(settings).forEach(([key, value]) => {
            $('#settings').append(
                '<tr><td>'+ key +'</td><td><input type="text" class="form-control" name="'+ key +'" value="'+ value +'"></td></tr>');
        });
    }
    
    function deleteRecording(filename) {
        url = '/recordings/'+filename;
        fetch(url, { method: 'DELETE' })
            .then(response => {
                if (!response.ok) {
                    throw new Error(url + " Network response was not ok: "+response.status+" "+response.statusText);
                }
                console.log(response);
            })
            .catch(error => {
                console.error("There was a problem with your fetch operation:", error);
            });
    }

    function updateState(state) {
        if (state.isRecording) {
            $('#recording-indicator').show();
            $('#recording-indicator-text').text('Recording...(since: ' + state.recordingStartTime + ', duration: ' + state.recordingDuration + 's)');
        } else {
            $('#recording-indicator').hide();
        }

        $('#start').prop('disabled', !state.canStartRecording);
        $('#stop').prop('disabled', !state.isRecording);
        $('#start_preview').prop('disabled', state.isRecording || pollingIntervallId != null);
        $('#stop_preview').prop('disabled', state.isRecording || pollingIntervallId == null);
        

        $('#recordings').empty();
        state.recordings.forEach(function(recording) {
            $('#recordings').append('<li class="list-group-item"><a href="/download/' + recording + '" download>' + recording + '</a>&nbsp;<a href="#" onClick="confirmDeletion(\''+ recording +'\')">delete</a></li>');
        });
    }

    function confirmDeletion(filename) {
        if (confirm("Do you really want to delete the recording?")) {
            // User clicked "OK"
            deleteRecording(filename);
        } else {
            // User clicked "Cancel"
            console.log('User chose not to proceed.');
        }
    }
</script>
{% endblock content %}

