<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Video Recorder</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Raspberry Pi Video Recorder</h1>
    <video id="video" autoplay playsinline controls></video>
    <br>
    <button id="start" {% if state['is_recording'] %} disabled {% endif %}>Start Recording</button>
    <button id="stop" {% if not state['is_recording'] %} disabled {% endif %}>Stop Recording</button>
    <div id="recording-indicator" style="display: none;">Recording...</div>
    <h2>Recorded Videos:</h2>
        <ul id="recordings">
            
        </ul>
    <script>
        const video = document.getElementById('video');

        $('#start').click(function() {
            $.ajax({
                url: '/start_recording',
                type: 'POST',
                success: function(response) {
                    console.log(response);
                    if (response !== "No recording process is active.") {
                        video.src = response; // Update video source to recorded video path
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $('#stop').click(function() {
            $.ajax({
                url: '/stop_recording',
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        
        // Function to check if recording is ongoing
        function checkRecording() {
            $.ajax({
                url: '/check_recording',
                type: 'GET',
                success: function(response) {
                    console.log(response);
                    if (response === "true") {
                        $('#recording-indicator').show();
                    } else {
                        $('#recording-indicator').hide();
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        // Check recording status every second
        setInterval(checkRecording, 1000);
        
        function deleteRecording(filename) {
          $.ajax({
              url: '/recordings/'+filename,
              type: 'DELETE',
              success: function(response) {
                  console.log(response);
              },
              error: function(error) {
                  console.log(error);
              }
          });
        }

        // Function to get updated list of recordings
        function updateRecordings() {
            $.ajax({
                url: '/recordings',
                type: 'GET',
                success: function(recordings) {
                    $('#recordings').empty();
                    recordings.forEach(function(recording) {
                        $('#recordings').append('<li><a href="/download/' + recording + '" download>' + recording + '</a>&nbsp;<a href="#" onClick="deleteRecording(\''+ recording +'\')">delete</a></li>');
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        // Update recordings list every second
        updateRecordings();
        setInterval(updateRecordings, 1000);
    </script>
</body>
</html>
